@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --accent : #9CCD62;
    --primary: #F6F8E2;
    --forecolor: #3C3D42;
    --secondary: #E0DDCA;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    background-color: var(--primary) !important;
    font-family: "Poppins", sans-serif !important;
}

.logo-wrapper img{
    background-color: var(--accent);
    border-radius: 16px;
    padding: 16px;
}

button {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 40px !important;
    outline: none;
    padding: 16px 48px;
    background-color: var(--accent);
    color: var(--primary);
    font-size: 1rem !important;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 168ms ease-out;
}

button span i {
    margin-left: 10px;
    font-size: 1.5rem !important;
}

button:hover {
    background-color: var(--forecolor);
}

button:active {
    background-color: #26272b;
}

a{
    color: var(--forecolor) !important;
}

h1{
    color: var(--accent) !important;
}

#login-body{
    background-color: var(--accent) !important;
}

#login-card{
    background-color: var(--primary) !important;
    border-radius: 2rem;
}

#login-link{
    align-self: center;
    font-size: 0.7rem;
}

#password-icon, #user-icon, #confirm-password-icon{
    color: var(--accent) ;
}

/* Mobile */
@media (max-width: 393px) {

    #register-icon-container{
        display: flex;              
        align-items: center;      
        justify-content: center;    
        flex-direction:row; 
    } 


    #register-icon{
        width: 3.5rem;
        height: 3.5rem;
    }
    body{
        position: relative;
    }
    #login-card{
        position: absolute;
        bottom: 0;
        border-radius: 3rem 3rem 0 0;
        width: 100vw;
        height: 600px;
    }
    .logo-wrapper img{
        position: absolute;
        top: 50px;
        scale: 1.5;
    }
}

/* Tablet */
@media (max-width: 820px) {
    
}
